.app-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Vertical centering */
  align-items: center;      /* Horizontal centering */

  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

  background-color: #121212;
}
